@use "../variables" as *;

.landingPage2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .imagesContainer {
    transform: rotateZ(35deg);
    z-index: 1;
    transform-origin: right top;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 33rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;

    .mobile {
      position: absolute;
      left: 5rem;
      z-index: 1;
      transition: 0.5s ease;
      :first-child {
        position: relative;
        width: 280px;
        height: 530px;
      }
      :last-child {
        position: absolute;
        left: 26px;
        bottom: 30px;
        width: 234px;
        height: 475px;
        border-radius: 15px;
      }
    }
    .tablet {
      position: absolute;
      left: 25rem;
      z-index: 1;
      transform: rotateZ(270deg);
      transition: 0.5s ease;
      :first-child {
        position: relative;
        width: 730px;
        height: 690px;
      }
      :last-child {
        position: absolute;
        width: 670px;
        height: 600px;
        transform: rotateZ(90deg);
        left: 23px;
        bottom: 36px;
        border-radius: 15px;
      }
    }
  }
  .textLeftContainer {
    transition: 0.5s ease;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    background-color: $boxColor;
    transform-origin: left top;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    h1 {
      text-align: center;
      font-size: 2rem;
    }
    p {
      font-size: 1.4rem;
      padding: 2rem 0;
    }
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      span::after {
        content: "|";
        padding: 0 2rem;
      }
    }
    button {
      padding: 1rem;
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 1000px) {
  .landingPage2 {
    .imagesContainer {
      display: none;
    }
    .textLeftContainer {
      width: 100%;
      text-align: center;
      transition: 0s;
    }
    button {
      width: 100%;
    }
  }
}
