@import url("https://fonts.googleapis.com/css2?family=Anta&family=Workbench&display=swap");
@import url("https://fonts.cdnfonts.com/css/sprite-graffiti");

$backgroundColor: whitesmoke;
$boxColor: rgb(243, 216, 79);
$textColor: #333;

$logoFonts: "Workbench", "sans-serif";
$textFonts: "Anta";
$mainFonts: "Sprite Graffiti", sans-serif;
